/*---------------------------------------------------*/
/*	CUSTOM ARNALD
/*---------------------------------------------------*/

/* Llista amb sangrat */
.cust_list {
	padding-left: 5%;
}

/*Thumbnails dels vídeos de YouTube PER ACABAR*/
/*.cust_thumb {
	background-image: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,1));

}*/

/* TEXT WHITE*/
.text-white {
	color: white;
}

/*---------------------------------------------------*/
/*	CUSTOM FOOTER
/*---------------------------------------------------*/

.footer-links{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #0b0b0b;
	padding: 50px 0px 50px 0px;
	color: white;
}
.footer-links .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	margin-top: 80px;
}
.footer-links .left{
	width: 50%;
	padding-right: 50px;
}
.footer-links .left > ul{
	margin: 0px;
	list-style-type: none;
}
.footer-links .left > ul > li{
	margin: 0px 0px 20px 0px;
	list-style-type: none;
	width: 100%;
	float: left;
}
.footer-links .left > ul > li:last-child{
	margin-bottom: 0px;
}
.footer-links .left > ul > li .list_inner{
	width: 100%;
	float: left;
	position: relative;
	display: flex;
	align-items: center;
}
.footer-links .left > ul > li .icon{
	display: inline-block;
	width: 60px;
	height: 60px;
	min-width: 60px;
	min-height: 60px;
	background-color: var(--blue-color);
	border-radius: 100%;
	position: relative;
}
.footer-links .left > ul > li .icon i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: var(--yellow-color);
	font-size: 20px;
	margin: 0px;
}
.footer-links .left > ul > li .info{
	padding-left: 20px;
	position: relative;
	top: -1px;
}
.footer-links .left > ul > li .info span{
	font-family: var(--font-family-poppins);
}
.footer-links .left > ul > li .info h3{
	font-size: 20px;
}
.footer-links .left > ul > li a{
	color: #000;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.footer-links .left > ul > li a:hover{
	color: var(--blue-color);
}
.footer-links .left .social{
	margin: 0px;
	list-style-type: none;
}
.footer-links .left .social li{
	margin: 0px 10px 0px 0px;
	display: inline-block;
}
.footer-links .left .social li:last-child{
	margin-right: 0px;
}
.footer-links .left .line_effect:after{
	bottom: -1px;
}
.footer-links .right{
	width: 50%;
	padding-left: 50px;
}
.footer-links .empty_notice{
	color: #F52225;
	margin-bottom: 7px;
	display: none;
	text-align: left;
	font-weight: 500;
}
.footer-links .contact_error{
	color: #F52225;
	text-align: left;
	font-weight: 500;
}
.footer-links .returnmessage{
	color:#3A00FF;
	margin-bottom: 7px;
	text-align: left;
	font-weight: 500;
}
.footer-links .first{
	width: 100%;
	float: left;
}
.footer-links .first ul{
	margin: 0px 0px 0px -20px;
	list-style-type: none;
}
.footer-links .first ul li{
	margin: 0px 0px 20px 0px;
	width: 50%;
	float: left;
	padding-left: 20px;
}
.footer-links .first ul li input{
	width: 100%;
	height: 55px;
	background-color: transparent;
	border: 1px solid rgba(0,0,0,.2);
}
.footer-links .first ul li input:focus{
	outline: none;
	background-color: transparent;
	border: 1px solid rgba(0,0,0,.5);
}
.footer-links .last{
	width: 100%;
	float: left;
	margin-bottom: 11px;
}
.footer-links .last textarea{
	width: 100%;
	height: 124px;
	background-color: transparent;
	border: 1px solid rgba(0,0,0,.2);
}
.footer-links .last textarea:focus{
	outline: none;
	background-color: transparent;
	border: 1px solid rgba(0,0,0,.5);
}
.footer-links .arlo_tm_button a{
	display: block;
	text-align: center;
}